.top-container  {
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.search-container  {
  height: 150px;
  border-color: red;
  box-sizing: border-box;
  margin: 40px;
}

.search-results {
  flex-grow: 1;
  border-color: blue;
  box-sizing: border-box;
}
